.header__logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    animation: moveTop 600ms ease-out;
    margin-top: -3.5rem;
}

.header__logo--bruno {
    width: 275px;
    height: 55px;
}