@keyframes moveBottom{

        0%{
            opacity: 0;
            transform: translateY(20px)
        }

        100%{
            opacity:1;
            
        } 
}

@keyframes moveTop{

    0%{
        opacity: 0;
        transform: translateY(-20px)
    }

    100%{
        opacity:1; 
    } 
}